.googleBtn {
  height: 42px;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  display: grid;
  grid-auto-flow: column;
  column-gap: 12px;
}

.googleBtn:hover {
  box-shadow: 0 0 6px #4285f4;
}

.googleBtn:active {
  background: #1669f2;
}

.googleIconWrapper {
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: white;
}

.googleIcon {
  position: absolute;
  margin-top: 11px;
  margin-left: 11px;
  width: 18px;
  height: 18px;
}

.btnText {
  float: right;
  margin: 11px 11px 0 0;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: 'Roboto';
  text-decoration: none;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:500);
